tgschema post-meeting2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tg="TableTopGames"
    elementFormDefault="qualified">



    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="pref"/>
                                <xs:attribute ref="lang"/>
                                <xs:attribute ref="type"/>
                                <xs:attribute ref="source"/>
                                <xs:attribute ref="sourceID"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contributor" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source" use="optional"/>
                                <xs:attribute ref="sourceID"/>
                                <xs:attribute ref="type" use="optional"/>
                                <xs:attribute ref="role" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="edition" minOccurs="0" maxOccurs="1"/>
                <xs:element minOccurs="0" name="date" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:gYear">
                                <xs:attribute ref="type"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="description" minOccurs="0"/>
                <xs:element name="language" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element minOccurs="0" name="contents"/>
                <xs:element minOccurs="0" name="dimensions" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="type" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="type" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="instructions" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="lang" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="playerInformation" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="minPlayerNumber" minOccurs="1"/>
                            <xs:element name="maxPlayerNumber" minOccurs="1"/>
                            <xs:element name="minRecommendedAge" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gameplayInformation" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="minPlayTime" minOccurs="0"/>
                            <xs:element name="maxPlayTime" minOccurs="0"/>
                            <xs:element name="difficulty" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="mechanism" maxOccurs="3" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="suppliesRequired" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="batteries">
                                <xs:complexType>
                                    <xs:attribute ref="type" use="required"/>
                                    <xs:attribute ref="number"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="tokens">
                                <xs:complexType>
                                    <xs:attribute ref="number" use="required"/>
                                    <xs:attribute ref="type"/>
                                    <xs:attribute ref="size"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="dice">
                                <xs:complexType>
                                    <xs:attribute ref="number"/>
                                    <xs:attribute ref="type"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="timer">
                                <xs:complexType>
                                    <xs:attribute ref="type"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0"
                                name="additionalSupplies">
                                <xs:complexType>
                                    <xs:attribute ref="type" use="required"/>
                                    <xs:attribute ref="number"/>
                                    <xs:attribute ref="size"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="suppliesNote"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="requiresBaseGame" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="lang"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gameCharacters" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="characterName" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="source" use="optional"/>
                                            <xs:attribute ref="sourceID"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="award" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="date"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="subject" maxOccurs="3" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source" use="optional"/>
                                <xs:attribute ref="sourceID"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="genre" maxOccurs="3" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source" use="optional"/>
                                <xs:attribute ref="sourceID"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="5" minOccurs="0" name="series">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source"/>
                                <xs:attribute ref="sourceID"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="versionOfGame" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="3" minOccurs="0" name="price">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gameVariantInformation" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gameVariantTitle" maxOccurs="3">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="lang" use="optional"/>
                                            <xs:attribute ref="pref"/>
                                            <xs:attribute ref="source"/>
                                            <xs:attribute ref="sourceID"/>
                                            <xs:attribute ref="type"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="gameVariantInstructions" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="lang" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="gameVariantNote">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string"/>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedWorkInformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="workTitle" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="lang" use="optional"/>
                                            <xs:attribute ref="type" use="optional"/>
                                            <xs:attribute ref="source"/>
                                            <xs:attribute ref="sourceID"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="relationshipNote">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string"/>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="accessibilityNote" minOccurs="0"/>
                <xs:element name="note" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="gameSystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gameSystemTitle" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="pref"/>
                                <xs:attribute ref="lang" use="optional"/>
                                <xs:attribute ref="type"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gameSystemContributor" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source"/>
                                <xs:attribute ref="sourceID"/>
                                <xs:attribute ref="type"/>
                                <xs:attribute ref="role"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="gameSystemEdition"/>
                <xs:element minOccurs="0" name="gameSystemDate" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:gYear">
                                <xs:attribute ref="type"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="gameSystemDescription"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="gameSystemLanguage"/>
                <xs:element minOccurs="0" name="gameSystemContents"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="gameSystemDimensions">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="type" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="gameSystemIdentifier" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="type" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="gameSystemInstructions">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="lang"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="3" minOccurs="0" name="gameSystemPrice">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute ref="source"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="gameSystemAccessibilityNote"/>
                <xs:element minOccurs="0" name="gameSystemNote"/>
                <xs:element ref="game" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:attribute name="sourceID" type="xs:string"/>
    <xs:attribute name="lang" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="role" type="xs:string"/>
    <xs:attribute name="date" type="xs:string"/>
    <xs:attribute name="pref" type="xs:string"/>
    <xs:attribute name="number" type="xs:string"/>
    <xs:attribute name="size" type="xs:string"/>
</xs:schema>
